{% extends "base.html" %}

{% block content %}

    <body>
        <div id="project_info">
            <p>
                We are alumni of the <a href="http://nu.edu.pk/">National Univeristy of Computer and Emerging Science</a>, Lahore, Pakistan.<br>
                We built this model as our undergraduate final year project to investigate the performance of novel deep learning methods for classifying politeness in online requests.<br><br>
                The model works by building recursive neural networks based on the parse structures of each sentence in a given request. Softmax probabilities from each neural network are averaged to make the final prediction.

                The model is trained on the Stanford Politeness Corpus <a href="http://www.cs.cornell.edu/~cristian/Politeness.html">(Danescu-Niculescu-Mizil et al. ACL 2013)</a>, uses 100d GloVe representations
                <a href="http://nlp.stanford.edu/projects/glove/">(Pennington et al. EMNLP 2014)</a> and is trained using mini batch gradient descent with AdaGrad.

                <br><br>Our technical report (which hasn't quite stood the test of time) is available to read <a href="#">here</a>.
                <br><a href="https://github.com/sranasir/politeness">Code for the model</a>
                <br><a href="https://github.com/MirajMahmood/website-politeness">Code for this website</a>
            </p>
        </div>

        <div class="team_member_profiles">
            <div class="team_member">
                <div class="profile_picture">
                    <img src="{{ url_for('static', filename='images/Colors.jpg') }}"/>
                </div>
                <div class="team_member_info">
                    <h4>Miraj Mahmood</h4>
                    <p>
                        Miraj is a couch potato.
                    </p>
                </div>
            </div>

            <div class="team_member">
                <div class="profile_picture">
                    <img src="{{ url_for('static', filename='images/Colors.jpg') }}"/>
                </div>
                <div class="team_member_info">
                    <h4>Muhammad Ali</h4>
                    <p>
                        Ali is the smartest.
                    </p>
                </div>
            </div>

            <div class="team_member">
                <div class="profile_picture">
                    <img src="{{ url_for('static', filename='images/Colors.jpg') }}"/>
                </div>
                <div class="team_member_info">
                    <h4>Raza Ahmad</h4>
                    <p>
                        Raza is the most boring.
                    </p>
                </div>
            </div>

            <div class="team_member">
                <div class="profile_picture">
                    <img src="{{ url_for('static', filename='images/Colors.jpg') }}"/>
                </div>
                <div class="team_member_info">
                    <h4>Mehvish Saleem</h4>
                    <p>
                        Mehvish is the oldest team member.
                    </p>
                </div>
            </div>
        </div>
    </body>


{% endblock %}
