<html>
  <head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>RNN Politeness Classification</title>
  </head>
  <body>

    {% block content %}{% endblock %}
  </body>
  <div class="profile_links">
      <a class="profile" target="_blank" href="http://twitter.com/MirajYaqub">Miraj Mahmood</a>
      <a class="profile" target="_blank" href="http://newt.itu.edu.pk/ali.php">Muhammad Ali</a>
      <a class="profile" target="_blank" href="http://razaahmad.org">Raza Ahmad</a>
      <a class="profile" target="_blank" href="https://www.linkedin.com/profile/view?id=AAkAAAxnbikBmEm_5VIlk3i9huo9I56HZlp81zQ&authType=NAME_SEARCH&authToken=UbRT&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A208105001%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1448818450593%2Ctas%3Amehvish">
          Mehvish Saleem
      </a>
  </div>
</html>
