{% extends "base.html" %}

{% block content %}

<script>
   function display_feedback_form(){
    document.getElementById('feedback').style.display = 'block';
    }
</script>
<form action="" method="post" class="polite_form">
		{{form.hidden_tag()}}
	
			
		
    <h1>Politeness Classifier </h1>
    <label>
        <span>{{form.sentence.label}}</span>
        {{form.sentence}}
    </label>
    
    <label>
        <span>{{form.score.label}} </span>
        {{form.score}}
        <input style="width:10px;height:10px;border-radius:50px;background:linear-gradient(to bottom, {{color}}, {{color}})" type="text" value="">
     </label>
     
     <label>
        <span>&nbsp;</span> 
        {{form.submit(class="button")}}   
    
    </label>     

    <label>
    {% if feedback_form%}
        <span>&nbsp;</span> 
        <button class="button" id="give_feedback" onClick="display_feedback_form();" type="button" > Correct us? </button>
        {% if feedback_form%}
        <div class="feedback" id='feedback' style='display: none;'>
            <center>
            <br>
                {{feedback_form.hidden_tag()}}

                {{feedback_form.polite_button(class='feedback_button', style='background-color: #0CB40C;') }}
                {{feedback_form.neutral_button(class='feedback_button', style='background-color: #ffb515;') }}
                {{feedback_form.impolite_button(class='feedback_button', style='background-color: #e33100;') }}
            </center>

        </div>
        {%endif%}
    {%endif%}
    </label>
</form>



<center>

	{%if form.errors%}
		Please correct the following:
		{%for each in form.errors %}
			<br>{{each}}
		{%endfor%}
	{%endif%}
</center>
{% endblock %}
